{{template "header.html" . }}
<title>Renting Survey</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/public/Algorithm/rentingSurvey/css/index.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Unicorn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url "App.Survey"}}">Survey</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <h4>INDEX</h4>
</body>
<script src="/public/Algorithm/rentingSurvey/js/slideMaxCommute.js"></script>
<script src="/public/Algorithm/rentingSurvey/js/slideCost.js"></script>
<script src="/public/Algorithm/rentingSurvey/js/slideSize.js"></script>
