{{template "header.html" . }}
<title>Survey</title>
<script src="/public/Algorithim/js/sliderBar.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<body>
    <form class="form-horizontal" action="{{url "App.SurveyResult"}}"  method="POST">
	    <div class="row">

		    </div>
	    <p>
	      <label for="amount">Price range:</label>
	        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
		</p>
		 
        <div class="form-group">
            <div id="slider-range"></div>
        </div>
    </form>
</body>
