#sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

.collapsedSide {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsedSide {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#contentSurvey {
    /* for the animation */
    transition: width 0.3s ease;
}

#sidebarToggleBut {
    color: #5bc0de;
    background-color: #333;
}