{{set . "title" "Survey Results"}}
{{template "header.html" .}}
<link href="/public/Google/css/GoogleMapStyle.css" rel="stylesheet">
<link href="/public/css/dashboard.css" rel="stylesheet">
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Unicorn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url "App.Survey"}}">Survey</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="/App/Survey">Back To Form</a></li>
            </ul>
          </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
        <h1 class="page-header">Dashboard</h1>
        <div id="map"></div>
        <h2 class="sub-header">Section title</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Destination Entered</th>
                        <th>Zip Code entered</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Time to Destination</th>
                        <th>Distance between locations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{.streetAddress}}</td>
                        <td>{{.zip}}</td>
                        <td id="distanceMatrixOrigin"></td>
                        <td id="distanceMatrixDestination"></td>
                        <td id="distanceMatrixTimeToDestination"></td>
                        <td id="distanceMatrixDistanceToDestination"></td>
                    </tr>
                    <tr>
                        <td>{{.amountMaxCommute}}</td>
                        <td>{{.typeHome}}</td>
                        <td>{{.numRooms}}</td>
                        <td>{{.numBathroom}}</td>
                        <td>{{.amountCost}}</td>
                        <td>{{.amountSize}}</td>
                    </tr>
                    <tr>
                        <td>{{.airConditioning}}</td>
                        <td>{{.parkingSpot}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
</body>
<script>
var myStreetAddress = "{{.streetAddress}}, {{.city}}, {{.state}}, {{.zip}}";
var myDestination = "Boston, MA";
</script>
<script src="/public/Google/js/addMarkers.js"></script>
<script src="/public/Google/js/googleMapsDistanceMatrix.js"></script>
<script src="/public/App/js/addGoogleMap.js"></script>

<script> 
//	$(document).ready(distanceMatrix('Stockholm, Sweeden'));
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDocEM2aNmd47atCkIpw2zXOBShUhF3PwE &callback=initMap"></script>

{{template "footer.html" .}}
